<toaster-container [toasterconfig]="toastConfig"></toaster-container>
<h2 class="title" *ngIf="isNewUpdate">Create Campaign</h2>
<h2 class="title" *ngIf="!isNewUpdate">Update Campaign</h2>

<form (ngSubmit)="submitForm(form)" #form="ngForm" autocomplete="nope">

        <div  class="row">
            <div class="col-md-12 form-group validation-checkboxes">
             <label> Select Notification Mode(s): </label><br>
             <nb-checkbox class="col-sm-4"  name="isPushchecked" [(ngModel)]="isPushchecked" (change)="pushCheck($event)">Push notification</nb-checkbox><br>  
    
              <nb-checkbox status="success" 
              class="col-sm-4"  name="isEmailchecked" [(ngModel)]="isEmailchecked" (change)="emailCheck($event)">Email</nb-checkbox> <br>
    
              <nb-checkbox class="col-sm-4"  name="isSmschecked" [(ngModel)]="isSmschecked" (change)="smsCheck($event)">SMS</nb-checkbox><br>
            </div>
        </div>
        <div *ngIf="isPushchecked">
          <nb-card>
            <nb-card-header>Push Notification</nb-card-header>
            <nb-card-body>
          
            <div class="row">
              <div class="form-group col-md-6">
                      <label for="input-pushTitle" class="sr-only">Push Message Title</label>
                      <input name="pushTitle" [(ngModel)]="notificationModel.pushTitle" id="input-email"  class="form-control" placeholder="Push Message Title"
                          #pushTitle="ngModel" [class.form-control-danger]="pushTitle.invalid && pushTitle.touched" autofocus >
                      <small class="form-text error" *ngIf="pushTitle.invalid && pushTitle.touched && pushTitle.errors?.required">
                          Push Message Title is required!
                      </small>
                  </div>
              
                  <div class="form-group col-md-6">
                      <label for="input-pushShortDesc" class="sr-only">Push message short description</label>
                      <input name="pushShortDesc" [(ngModel)]="notificationModel.pushShortDesc" type="text" id="input-pushShortDesc" class="form-control" placeholder="Push message short description"
                          #pushShortDesc="ngModel" [class.form-control-danger]="pushShortDesc.invalid && pushShortDesc.touched" required>
                      <small class="form-text error" *ngIf="pushShortDesc.invalid && pushShortDesc.touched && pushShortDesc.errors?.required">
                      Push message short description is required!
                      </small>
                  </div>
                </div>
    
                <div class="form-group">
                    <label>Push Long Description HTML</label>
                    <ckeditor [config]="{ extraPlugins: 'divarea', height: '320' } "  [(ngModel)]="notificationModel.pushLongDesc" name="pushLongDesc" id="input-pushLongDesc"  #pushLongDesc="ngModel"  [class.form-control-danger]="pushLongDesc.invalid && pushLongDesc.touched"></ckeditor>
                    <small class="form-text error" *ngIf="pushLongDesc.invalid && pushLongDesc.touched && pushLongDesc.errors?.required">
                            Push Long Description is required!
                    </small>
    
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-success" (click)="pushPreviewUrlModal()" style="margin:15px 0px;">Select Push Preview Image</div>
                        <img src={{notificationModel.pushPreviewURL}}  width="100px;"/>
                        <p class="form-text error" *ngIf="pushPreviewUrlErrMsg" style="margin:-10px 15px;">
                                Preview Push image is required!
                        </p>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-success" (click)="pushThumbnailURLModal()" style="margin:15px 0px;">Select Push Thumbnail Image</div>
                        <img src={{notificationModel.pushThumbnailURL}}  width="100px;"/>
                        <span class="form-text error" *ngIf="pushThumbnailErrMsg" style="margin:-10px 15px; ;">
                                Thumnail push image is required!
                        </span>
                    </div>
                </div>
    
              <div class="row">
                  <div class="form-group col-md-6" >
                          <label>Send to targets</label>
                      <select class="form-control"   name="pushTargetGroups" [(ngModel)]="notificationModel.pushTargetGroups" type="text" id="input-PushTargetGroups" class="form-control" >
                            <option>All users</option>
                            <option>All iOS users</option>
                            <option>All Android users</option>
                          </select>
                  </div>
              </div>
    
              <div class="form-group">
                  <label for="input-pushTriggerTime" class="sr-only">Push Trigger Time</label>
                  <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Push Trigger Time" class="form-control"  name="pushTriggerTime" [(ngModel)]="notificationModel.pushTriggerTime"  id="input-pushTriggerTime">
                  <owl-date-time #dt1></owl-date-time>
    
                  <!-- <small class="form-text error" *ngIf="pushTriggerTime.invalid && pushTriggerTime.touched && pushTriggerTime.errors?.required">
                  Push Trigger Time is required!
                  </small> -->
              </div>
            </nb-card-body>  
            </nb-card>
        </div>  
    
        <div *ngIf="isEmailchecked">
        <nb-card>
          <nb-card-header>Email</nb-card-header>
          <nb-card-body>
      
              <div class="row">
                  <div class="form-group col-md-6">
                          <label for="input-email" class="sr-only">Email Subject</label>
                          <input name="emailSubject" [(ngModel)]="notificationModel.emailSubject" id="input-email"  class="form-control" placeholder="Email Subject"
                              #emailSubject="ngModel" [class.form-control-danger]="emailSubject.invalid && emailSubject.touched" autofocus >
                          <small class="form-text error" *ngIf="emailSubject.invalid && emailSubject.touched && emailSubject.errors?.required">
                              Name is required!
                          </small>
                  </div>
              </div>
                  
              <div class="form-group">
                <label>Email Body</label>
                <ckeditor [config]="{ extraPlugins: 'divarea', height: '320' } "  [(ngModel)]="notificationModel.emailBody" name="emailBody" id="input-emailBody"  #emailBody ="ngModel"  [class.form-control-danger]="emailBody.invalid && emailBody.touched"></ckeditor>
                <small class="form-text error" *ngIf="emailBody.invalid && emailBody.touched && emailBody.errors?.required">
                        Long Description is required!
                </small>
              </div>
              <div class="alert alert-danger" role="alert">
              Available email credits <strong>:0000</strong> <a href="#" class="alert-link">Buy email credits</a>
              </div>
              <div class="row">
                  <div class="form-group col-md-6" >
                          <label>Send to targets</label>
                      <select class="form-control"   name="emailTargetGroups" [(ngModel)]="notificationModel.emailTargetGroups" type="text" id="input-emailTargetGroups" class="form-control" >
                            <option>All users</option>
                            <option>All iOS users</option>
                            <option>All Android users</option>
                          </select>
                  </div>
              </div>
    
              <div class="form-group">
                  <label for="input-emailTriggerTime" class="sr-only">Email Trigger Time</label>
                  <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Email Trigger Time" class="form-control"  name="emailTriggerTime" [(ngModel)]="notificationModel.emailTriggerTime"  id="input-emailTriggerTime">
                  <owl-date-time #dt2></owl-date-time>
    
                  <!-- <small class="form-text error" *ngIf="emailTriggerTime.invalid && emailTriggerTime.touched && emailTriggerTime.errors?.required">
                  Email Trigger Time is required!
                  </small> -->
              </div>
              </nb-card-body>  
            </nb-card>
        </div>
    
        <div *ngIf="isSmschecked">
        <nb-card>
          <nb-card-header>SMS</nb-card-header>
          <nb-card-body>
    
            <div class="row">
                <div class="form-group col-md-6">
                        <label for="input-email" class="sr-only">Sms Text</label>
                        <input name="smsText" [(ngModel)]="notificationModel.smsText" id="input-smsText"  class="form-control" placeholder="Sms Text"
                            #smsText="ngModel" [class.form-control-danger]="smsText.invalid && smsText.touched" autofocus  maxlength="125">
                        <small class="form-text error" *ngIf="smsText.invalid && smsText.touched && smsText.errors?.required">
                                sms text required!
                        </small>
                </div>
            </div>
            <div class="alert alert-danger" role="alert">
            Available SMS credits <strong>:0000</strong> <a href="#" class="alert-link">Buy SMS credits</a></div>
            <div class="row">
              <div class="form-group col-md-6" >
                      <label>Send to targets</label>
                  <select class="form-control"   name="smsTargetGroups" [(ngModel)]="notificationModel.smsTargetGroups" type="text" id="input-smsTargetGroups" class="form-control" >
                          <option>All users</option>
                          <option>All iOS users</option>
                          <option>All Android users</option>
                      </select>
              </div>
            </div>
              
            <div class="form-group">
                <label for="input-smsTriggerTime" class="sr-only">SMS Trigger Time</label>
                <input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="SMS Trigger Time" class="form-control"  name="smsTriggerTime" [(ngModel)]="notificationModel.smsTriggerTime"  id="input-smsTriggerTime">
                <owl-date-time #dt3></owl-date-time>
    
                <!-- <small class="form-text error" *ngIf="smsTriggerTime.invalid && smsTriggerTime.touched && smsTriggerTime.errors?.required">
                SMS Trigger Time is required!
                </small> -->
            </div>
            </nb-card-body>  
            </nb-card>
        </div>

     <button [disabled]="!form.valid" class="btn btn-block btn-hero-success">
        Save Campaign
    </button>
    </form>
    