div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: black;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


h3 {
    text-align: center;
    font-size: 1.65em;
    margin: 0 0 30px;
  }
  
  div {
    font-size: 0;
  }
  
  a {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
  }
  
  a:nth-of-type(2n) {
    margin-right: 0;
  }
  
  @media screen and (min-width: 50em) {
    a {
      width: calc(25% - 6px);
    }
    
    a:nth-of-type(2n) {
      margin-right: 8px;
    }
    
    a:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  
  a:hover img {
    // transform: scale(1.15);
  }
  
  figure {
    margin: 0;
    overflow: hidden;
  }
  
  figcaption {
    margin-top: 15px;
  }
  
  img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
    height: 186px !important;
  }
  
  .p a {
    display: inline;
    font-size: 13px;
    margin: 0;
    text-decoration: underline;
    color: blue;
  }
  
  .p {
    text-align: center;
    font-size: 13px;
    padding-top: 100px;
  }

  body {
    width: 80%;
    margin: 30px auto;
    font-family: sans-serif;
  }
  
  h3 {
    text-align: center;
    font-size: 1.65em;
    margin: 0 0 30px;
  }
  
  div {
    font-size: 0;
  }
  
  a {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
  }
  
  a:nth-of-type(2n) {
    margin-right: 0;
  }
  
  @media screen and (min-width: 50em) {
    a {
      width: calc(25% - 6px);
    }
    
    a:nth-of-type(2n) {
      margin-right: 8px;
    }
    
    a:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  
  a:hover img {
    transform: scale(1.15);
  }
  
  figure {
    margin: 0;
    overflow: hidden;
  }
  
  figcaption {
    margin-top: 15px;
  }
  
  img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
  }
  
  .p a {
    display: inline;
    font-size: 13px;
    margin: 0;
    text-decoration: underline;
    color: blue;
  }
  
  .p {
    text-align: center;
    font-size: 13px;
    padding-top: 100px;
  }